<div class="container text-center">
    <h1 class="about-header">About Page.</h1>
    <p>Welcome to T's Place! our company focuses on creating an exclusive community
    for developers and entrepenuers to meet.
    </p>
</div>